Lab4/DBLite/CRUDClient/Service References/ReviewService/ReviewService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReviewService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Review/soap?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Review/soap?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Review/soap?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObjectManagerModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReviewService_GetAllPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersons" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetAllPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IReviewService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IReviewService_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IReviewService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetAllReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviews" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetAllReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetReview_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReview" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_AddReview_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReview" />
  </wsdl:message>
  <wsdl:message name="IReviewService_AddReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_UpdateReview_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReview" />
  </wsdl:message>
  <wsdl:message name="IReviewService_UpdateReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_DeleteReview_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReview" />
  </wsdl:message>
  <wsdl:message name="IReviewService_DeleteReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReviewResponse" />
  </wsdl:message>
  <wsdl:portType name="IReviewService">
    <wsdl:operation name="GetAllPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/GetAllPersons" message="tns:IReviewService_GetAllPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/GetAllPersonsResponse" message="tns:IReviewService_GetAllPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/GetPerson" message="tns:IReviewService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/GetPersonResponse" message="tns:IReviewService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/AddPerson" message="tns:IReviewService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/AddPersonResponse" message="tns:IReviewService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/UpdatePerson" message="tns:IReviewService_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/UpdatePersonResponse" message="tns:IReviewService_UpdatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/DeletePerson" message="tns:IReviewService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/DeletePersonResponse" message="tns:IReviewService_DeletePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/GetAllReviews" message="tns:IReviewService_GetAllReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/GetAllReviewsResponse" message="tns:IReviewService_GetAllReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/GetReview" message="tns:IReviewService_GetReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/GetReviewResponse" message="tns:IReviewService_GetReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/AddReview" message="tns:IReviewService_AddReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/AddReviewResponse" message="tns:IReviewService_AddReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/UpdateReview" message="tns:IReviewService_UpdateReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/UpdateReviewResponse" message="tns:IReviewService_UpdateReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/DeleteReview" message="tns:IReviewService_DeleteReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/DeleteReviewResponse" message="tns:IReviewService_DeleteReview_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReviewService" type="tns:IReviewService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPersons">
      <soap:operation soapAction="http://tempuri.org/IReviewService/GetAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IReviewService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IReviewService/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IReviewService/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/IReviewService/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReviews">
      <soap:operation soapAction="http://tempuri.org/IReviewService/GetAllReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReview">
      <soap:operation soapAction="http://tempuri.org/IReviewService/GetReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <soap:operation soapAction="http://tempuri.org/IReviewService/AddReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReview">
      <soap:operation soapAction="http://tempuri.org/IReviewService/UpdateReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReview">
      <soap:operation soapAction="http://tempuri.org/IReviewService/DeleteReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReviewService">
    <wsdl:port name="BasicHttpBinding_IReviewService" binding="tns:BasicHttpBinding_IReviewService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Review/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>